{% extends "baseMar.html" %}

{% block content %}

{% if form.errors%}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
	{% if user.is_authenticated %}
	<p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
	{% else %}
	<p>Please login to see this page.</p>
	{% endif %}
{% endif %}
<div class="contenedor-registro">

<form method="post" action="/loginHecho/">
{% csrf_token %}
<div class="form-group">
	<input class="form-control sombreado" id="username" type="text" name="username" placeholder="Username">
</div>
<div class="form-group">
	<input  class="form-control sombreado" id="password" type="password" name="password" placeholder="Pasword">
</div>

<input class="btn btn-primary" type="submit" value="Login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

</div>
{% endblock %}
