
  {% extends "base_top_only.html" %}
   {% block content %}
    

<div class="box box-default">
     
          <div class="box-body">


        <h1>Sobre el Trabajo de Final de Grado de David Albalate Cabedo</h1>
      
      <p class="lead">
       El Trabajo de final de grado de Davild Albalate trata de hacer un frontend para el framework Mobile Security Framework (MobSF). Como este framework solo trabaja para los sistemas operatios (Android/iOS) el frontend irá basado en ellos. Como no existe una API de este framework se ha tomado la decisión de utiliza un frame en una aplicación Ionic y utilizar el frontend que ya tenía el framework pero modificarlo para darle una vista de aplicación movil. Ademñas de ello se le ha dado la funcinalidad a la aplicación para hacer llamadas al backend dandole un mayor sentido a la existencia de la app en ionic.</p>
          </div>
          <!-- /.box-body -->
        </div>
{% endblock %}
